.env
.aws-sam
.txt


legislative-simulacrum/node_modules
legislative-simulacrum/.vscode
legislative-simulacrum/template
legislative-simulacrum/public
legislative-simulacrum/.env

solo.txt
/template
/database
/backend
/__pycache__
/node_modules
/deprecated
venv


/app/build

