.env
.txt


legislative-simulacrum/node_modules
legislative-simulacrum/.vscode
legislative-simulacrum/template
legislative-simulacrum/public
legislative-simulacrum/.env


/template
/database
/__pycache__
/node_modules
/deprecated
venv

